# Godot 4+ specific ignores
.godot/
/android/
.gitignore
.gitattribute

/demo
/export_window
/html_exports
libterrain.windows.debug.x86_64.dll
"MANGO MARCH.console.exe"
"MANGO MARCH.exe"
"MANGO MARCH.pck"
